body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: black;
    border-style:double;
    border-color: #290b02;
    background-color: rgb(240, 209, 168);
    margin: 30px;
    background-image: none;
    background-color:transparent;
    background-image: url(https://i.pinimg.com/originals/be/78/05/be7805ef2512cd25bfcdec9e24ae8452.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}
.content-box{
    column-count: 2;
    column-gap: 0%;
}
#my-name{
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 150px;
    margin: 30px;
    margin-bottom: 2em;
}
h1,h2,h3,h4,h5,h6{
    font-size:25px;
	color:#b35305cb;
	padding:0px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: tomato;
    text-indent: 30px;
}
h1,h2,h3,h4{
    border: orangered;
    border-radius: 5px;
}
.info-list{
    margin-top: 0px;
    text-indent: 0px;
    list-style: none;
    border: orangered;
    border-radius: 5px;
}
img{
    margin-top: 10px;
    padding-left: 100px;
    border-radius: 50%;
}
table{
    width: 800px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color:#d63939;
    color: rgb(248, 248, 244);
}
.platform-menu{
list-style:none;
padding: 0px;
text-align: center;
}
.platform{
    display: inline-block;
}
.platform a{
    display: block;
    padding: 15px 15px;
    color:rgb(252, 248, 248);
}
.platform a:hover{
    color: rgb(66, 6, 2);
}

